#landing {
  .landing {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    gap: $gutter;

    @include mob {
      gap: calc($gutter / 2);
    }

    &__circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc($gutter * 20);
      height: calc($gutter * 20);
      background: $tertiary;
      border-radius: 50%;
      z-index: -1;
      box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.56);

      @include mob {
        width: calc($gutter * 15);
        height: calc($gutter * 15);
      }
    }

    &__hello {
      font-size: 48px;
      font-weight: $extra-bold;
      color: $white;
      text-shadow: 0 1px 1px #000;

      @include mob {
        font-size: $text-4;
      }
    }

    &__function {
      font-size: 64px;
      color: var(--secondary);
      font-weight: $extra-bold;

      @include mob {
        font-size: $text-3;
      }
    }

    &__field {
      background: $white;
      display: flex;
      padding: calc($gutter / 3);
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      margin-top: calc($gutter * 2);

      @include mob {
        margin-top: 0;
      }

      .icon,
      .button {
        padding: calc($gutter / 3) calc($gutter / 1.8) !important;
        font-size: $text-4;
        color: $secondary;
      }

      input[type='text'] {
        flex: 1;
        width: max-content;
        font-size: $text-5;
        border: none;
        background: transparent;
        font-weight: $bold;
        color: $secondary;
        padding: 0;
        margin: 0;
      }
    }
  }

  #curve {
    width: 100%;
    height: calc($gutter * 10);
    overflow: hidden;
    display: flex;

    img {
      width: 100%;
      height: 200%;
    }
  }
}
